body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}
div {
  background-color: #00000066;
  margin: 1.5rem auto;
  width: 80%;
  border-radius: 0.2rem;
}
h1 {
  color: #ffff;
  text-align: center;
}
.calculadora {
  width: 75%;
  margin: 1.5rem auto;
}
.display {
  font-size: 2em;
  width: 98%;
  text-align: right;
}
.btn {
  width: 100%;
  height: 2rem;
  font-size: 1em;
  border: none;
  background: rgb(255, 255, 255);
  cursor: pointer;
}
.btn:hover {
  background: #d1d1d1;
}
